.gallery img {
    width: 100%;
}

h2 {
    display: flex;
    justify-content: center;
    font-family: fantasy;
    text-decoration: underline;
    font-size: 400%;
}

#menu button {
    width: 100%;
    background-color: rgb(27, 102, 153);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 50px;
    font-style: italic;
    font-weight: 1000;
    font-size: x-large;

}

.test button {
    margin-bottom: 10px !important;
}

#menu button:hover {
    color: rgb(84, 57, 134)
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    font-size: 250%;
}

.test-1 {
    font-family: cursive;
    font-weight: 400;
    font-size: large;
    margin: 10px;
}

.test-2 {
    font-family: Georgia, 'Times New Roman', Times, serif;

}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(227, 27, 174);
}

p {
    display: flex;
    justify-content: center;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;

}

.head {
    display: flex;
    justify-content: center;
}

.test-1 p {
    display: flex;
    justify-content: left;
}

.color {
    color: rgb(14, 101, 173);
    font-style: italic;
}